{% extends "base.html" %}

{% block content %}
<div id="content" class="container internal center-block text-center">
    {% if alertMSG %}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
        <strong>{{ alertMSG }}</strong>
    </div>
    {% endif %}
    <br/><br/><br/>
    <h3>Enter your code </h3>
    <form action="/list_from_code" method="POST">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" name="code">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-3"></div>
    </form>
</div>
{% endblock %}